<div class="content-wrap">
    {{book-carousel books=model.carouselBooks id="dashboard-carousel"}}
    <div class="clearfix"></div>
    <div class="container">
        <!--*******************Book-List******************* -->
        {{#model-query-list 
            class="row"
            model='book' 
            loadingComponent='loader-stretch' 
            onData='handleListLoaded'
            query=listQuery
            as |book|}}
            <div class="col s12 m6">
                {{book-card-wide book=book}}
            </div>
        {{/model-query-list}}
        <!--*******************Book-List-End******************* -->
        
        {{material-pagination 
            class="center-align"
            totalPages=listMeta.totalPages
            currentPage=listMeta.page
            onPageClick='setPage'
        }}
    </div>
</div>