.nav-wrapper > .row {
    position: relative;
    height: 100%;
}

.nav-search-col.col {
    height: 100%;
    padding: 0;
}

.nav-search-col.col.active {
    transition: 0.5s all;
    position: absolute;
    left: 0;
    width: 100%;
}

.nav-search-col > .nav-search {
    height: 100%;
}

#nav-dropdown {
    /* 
     * The materialize dropdown will try to override the width. 
     * So, set this as important 
     */
    margin-top: 60px; 
    width: 200px!important;
}

.initials {
    text-align: center;
    background-color: #EE3333;
    width:55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    transition: all 0.5s;
}
nav ul
{
    padding:4px;
}

.initials:hover {
    background-color: #993333;
}

.initials > a {
    padding: 0;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
}

.initials > a:hover {
    background-color: transparent;
}