// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";
html{
    //line-height: 0.5;
}
/*
    =======================
          INDEX-STYLE
    =======================
*/
.main-content{
    position: absolute;
    height:100%;
    width: 100%;
    top:0;
    left:0;
    right: 0;
    z-index: -99;
    background-image: url('/assets/images/indexbg.jpg');
    
}
.card-div{
    margin-top:18%;
    background-color: red;
}

#mycard-title {
    font-size: 44px !important;
    margin-bottom: 15px !important;
}

#mynav{
    background-color: transparent;
    box-shadow: none;
    
}

#mynav-wrapper ul{
    li{
        a{
            font-size: 22px;
            margin-right: 25px;
            background-color: #f74545;
        } 
    }
} 

#mynav-wrapper ul{
    li{
        padding: 15px;
    }
} 

.blue-grey.darken-1 {
    background-color: #f56868 !important;
}

/*
    =======================
          DASHBOARD-STYLE
    =======================
*/
.menu-icon{
    
}
.myCardImg{
    height: 117px;
    object-fit: cover;
}

.mycard-content{
    padding: 0px !important;
//    margin-left: 70px;
}
.success-icon i{
    color: #6EFF6E;
    font-size: 13px;
}
.unsucess-icon i{
    color: #e00606;
    font-size: 13px;
    opacity: 10;
}
.mycard-content h5{
    color: #c55757;
}
.dashboard-icon i{
    color:#866a6a;
    font-size: 42px !important;
}
.initals {
    background-color: red;
    width: 64px;
    border-radius: 873px;
}
.initals a{
    padding-left:22px;
}

.carousel-item img {
    height: 150px;
    width: 100px !important;
}

.search-icon{
    
}