<div class="content-wrap">
    <div class="container text-center margin-top-2">
        <i class="material-icons icon-404">find_in_page</i>
        <h4 class="margin-top-2">PAGE NOT FOUND</h4>
        <p>
            The Page That You Requested Does Not Exist
        </p>
    </div>
</div>