<div class="about-section">
    <table class="striped col m8 about-table" >
        <thead>
          <tr>
              <th colspan="2">Basic Information</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th><span class="table-head">Name</span></th>
            <td>Abhinab Rajopadhyaya</td>
          </tr>
          <tr>
            <th><span class="table-head">Email</span></th>
            <td>abhinab.rajopadhyaya@gmail.com</td>
          </tr>
          <tr>
            <th><span class="table-head">Phone</span></th>
            <td>+977984912345</td>
          </tr>
        </tbody>
      </table>
            
</div>
