<div class="content-wrap">
  <div class="container">
      <div class="row">
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image profile-pic">
                <img src="/assets/images/default-profile.jpg">
              </div>
              <span class="card-title username text-center">@{{userSession.user.username}}</span>
              <div class="card-action">
              <a class="waves-effect waves-light btn">Edit Profile</a>
              </div>
            </div>
          </div>
          
          <div class="col s12 m9">
            <div class="profile-sub-pages">
              {{switcher-tabs class="profile-tabs" tabs=tabs}}
              {{outlet}}
            </div>
          </div>
        </div> <!--Row-End -->
    </div> <!--Container-End -->
</div>