<div class="about-section">
    <table class="striped about-table" >
        <thead>
          <tr>
              <th colspan="2">Basic Information</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th><span class="table-head">Name</span></th>
            <td>{{userSession.detail.firstName}} {{userSession.detail.lastName}}</td>
          </tr>
          <tr>
            <th><span class="table-head">Email</span></th>
            <td>{{userSession.detail.email}}</td>
          </tr>
          <tr>
            <th><span class="table-head">Username</span></th>
            <td>{{userSession.detail.username}}</td>
          </tr>
        </tbody>
      </table>
            
</div>
