<div class="content-wrap">
    <div class="container text-center margin-top-2">
        <i class="material-icons icon-404">healing</i>
        <h4 class="margin-top-2">
            OOPS! SOMETHING WENT WRONG <br/>
        </h4>
        <p>Please try again at a later time</p>
    </div>
</div>