<div class="modal-content">
    <div class="row">
        <div class="col s6">abhinabraj</div>
        <div class="col s3">
            <button class="waves-effect waves-light btn accept-btn" {{action 'acceptReq'}}>
                Accept
            </button>
        </div>
        <div class="col s3">
            <button class="waves-effect waves-light btn decline-btn"{{action 'declineReq'}}>
                Decline
            </button>
        </div>
    </div>
    <div class="divider"></div>
    
{{!-- <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>
        Done!
    </a>
    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
        Cancel
    </a> 
</div>--}}
</div>
